$grape: #535d82;
$teethWhite: #fff;
$offWhite: #eaeaea;
$hiddenWhite: #c7c7c7;
$pinky: #ffbbfc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $grape;
  font-family: 'Lilita One', cursive;
  width: 100vw;
  font-size: 12px;
  color: $offWhite;
}

p {
  line-height: 125%;
}
h1 {
  font-size: 40px;
  color: $teethWhite;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}

span {
  display: none;
}

.trending {
  margin-top: 2rem;
}

nav {
  max-width: 1200px;
  margin: 0 auto;

  .logoContainer {
    display: flex;
    align-items: center;

    img {
      height: 30px;
      width: 30px;
      display: inline-block;
      margin-right: 10px;
    }
    p {
      text-align: center;
      font-size: 18px;
      color: $teethWhite;
      font-family: 'Spartan', sans-serif;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    display: none;

    li {
      margin: 0 10px;
    }
  }
}

.separator {
  height: 1px;
  background-color: #8a8a8a;
  width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 0.5rem;

  // I Princip klar - RÖR EJ
  .featureCard {
    background: linear-gradient(180deg, #281a51 0%, rgba(61, 61, 61, 0) 100%);
    border-radius: 10px;
    box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.2);
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
    .featureInfoContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .likesContainer {
        // Styles the red svg heart, change to svg tag and fix later
        margin-top: 8px;
        img {
          margin-right: 5px;
          height: 15px;
          width: 15px;
        }
      }
    }
    .title {
      color: $pinky;
      font-size: 22px;
      margin-bottom: 10px;
    }
  }

  .cardContainer {
    .card {
      background: linear-gradient(
        132.41deg,
        #597eff 1.42%,
        rgba(8, 43, 167, 0) 100%
      );
      margin: 1rem;
      border-radius: 10px;
      box-shadow: 6px 6px 8px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 1rem;
    }

    img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
      margin-bottom: 5px;
    }

    .infoContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .likesContainer {
        img {
          height: 15px;
          width: 15px;
          margin-right: 5px;
        }
      }

      .title {
        color: $pinky;
        font-size: 18px;
      }
    }

    .contentContainer {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .author {
      color: $hiddenWhite;
    }
  }
}

.likesContainer {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  span {
    display: inline-block;
  }

  h1 {
    font-size: 60px;
  }

  nav {
    display: flex;
    justify-content: space-around;

    ul {
      display: flex;
    }

    li {
      a {
        color: $offWhite;
        text-decoration: none;
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  main {
    .featureCard {
      flex-direction: row;
      img {
        display: inline-block;
        width: 40%;
        margin-right: 1rem;
      }
      .featureInfoContainer,
      .contentContainer {
        font-size: 14px;
      }

      .featureInfoContainer {
        margin: 0;
      }
      .title {
        font-size: 32px;
        margin: 10px 0;
      }
    }

    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      .card {
        max-width: 340px;

        img {
          height: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 1134px) {
  h1 {
    font-size: 72px;
  }
  main {
    .featureCard {
      .title {
        font-size: 40px;
      }
      .featureInfoContainer,
      .contentContainer {
        font-size: 18px;
      }
    }
    // .cardContainer {
    //   max-width: 1440px;

    //   .card {
    //     min-width: 500px;
    //     // background-color: red;

    //     .infoContainer {
    //       .title {
    //         font-size: 36px;
    //       }
    //       .pubDate,
    //       .likesContainer {
    //         font-size: 16px;
    //       }
    //       // .likesContainer{

    //       // }
    //     }

    //     .contentContainer {
    //       font-size: 18px;
    //     }
    //   }
    // }
  }
}
