* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #535d82;
  font-family: 'Lilita One', cursive;
  width: 100vw;
  max-width: 1200px;
  font-size: 12px;
  color: #eaeaea;
}

h1 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

nav .logoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logoContainer img {
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
}

nav .logoContainer p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: 'Spartan', sans-serif;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

nav ul li {
  margin: 0 10px;
}

.separator {
  height: 1px;
  background-color: #e4e4e4;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ad9bf5), to(rgba(118, 210, 250, 0)));
  background: linear-gradient(180deg, #ad9bf5 0%, rgba(118, 210, 250, 0) 100%);
}

main .card img {
  width: 300px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
}

main .card .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.7rem;
}

main .card .infoContainer .title {
  color: #ffbbfc;
  font-size: 18px;
}

main .card .infoContainer .likesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .infoContainer .likesContainer img {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */